## One Method

In [ ]:
# Importing Libraries
from urllib.request import urlopen
from urllib.error import HTTPError
from urllib.error import URLError

import requests
from bs4 import BeautifulSoup
from csv import writer

In [ ]:
# Checking the URL if its valid or not
try:
  html = urlopen("https://www.flipkart.com/search?q=apple+phone&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=apple+phone%7CMobiles&requestId=70ac26bd-3ad9-4cf6-933c-132909a1bec9&as-searchtext=apple")
except HTTPError as e:
  print("HTTP error")
except URLError as e:
  print("Server not found")
else:
  print("Sucess")

Sucess

In [ ]:
# Making soup
url = "https://www.flipkart.com/search?q=apple+phone&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=apple+phone%7CMobiles&requestId=70ac26bd-3ad9-4cf6-933c-132909a1bec9&as-searchtext=apple"
page = requests.get(url)
soup = BeautifulSoup(page.content,"html.parser")

In [ ]:
print(soup.find("title").text)

Apple Phone- Buy Products Online at Best Price in India - All Categories | Flipkart.com

In [ ]:
lists = soup.find_all("div",class_="_3pLy-c row")

In [ ]:
for list in lists:
  title = list.find("div",class_="_4rR01T").text
  rating = list.find("div",class_="_3LWZlK").text
  price = list.find("div",class_="_30jeq3 _1_WHN1").text
  info = [title,rating,price]
  print(info)

['APPLE iPhone 14 (Midnight, 128 GB)', '4.6', '₹73,990']
['APPLE iPhone 14 (Starlight, 128 GB)', '4.6', '₹73,990']
['APPLE iPhone 11 (Red, 128 GB)', '4.6', '₹44,999']
['APPLE iPhone 13 (Blue, 128 GB)', '4.7', '₹60,999']
['APPLE iPhone 14 (Purple, 128 GB)', '4.6', '₹73,990']
['APPLE iPhone 14 (Blue, 128 GB)', '4.6', '₹73,990']
['APPLE iPhone 13 (Pink, 128 GB)', '4.7', '₹60,999']
['APPLE iPhone 13 (Midnight, 128 GB)', '4.7', '₹60,999']
['APPLE iPhone 13 (Starlight, 128 GB)', '4.7', '₹60,999']
['APPLE iPhone 11 (Black, 128 GB)', '4.6', '₹44,999']
['APPLE iPhone 12 mini (Black, 64 GB)', '4.5', '₹37,999']
['APPLE iPhone 11 (White, 64 GB)', '4.6', '₹39,999']
['APPLE iPhone 14 (Starlight, 256 GB)', '4.6', '₹83,990']
['APPLE iPhone 13 ((PRODUCT)RED, 128 GB)', '4.7', '₹60,999']
['APPLE iPhone 14 (Midnight, 256 GB)', '4.6', '₹83,990']
['APPLE iPhone 11 (Black, 64 GB)', '4.6', '₹39,999']
['APPLE iPhone 14 (Blue, 256 GB)', '4.6', '₹83,990']
['APPLE iPhone 14 (Purple, 256 GB)', '4.6', '₹83,990']
['APPLE iPhone 11 (Red, 64 GB)', '4.6', '₹39,999']
['APPLE iPhone 11 (White, 128 GB)', '4.6', '₹44,999']
['APPLE iPhone 12 mini (White, 64 GB)', '4.5', '₹38,999']
['APPLE iPhone 11 (Purple, 64 GB)', '4.6', '₹39,999']
['APPLE iPhone 12 (Purple, 128 GB)', '4.6', '₹57,999']
['APPLE iPhone 12 (White, 128 GB)', '4.6', '₹57,999']

In [ ]:
with open("mobilePrice.csv","w",encoding="utf8",newline="") as f:
  thewriter =writer(f)
  header = ["Title","Ratings","Price"]
  thewriter.writerow(header)

  for list in lists:
    title = list.find("div",class_="_4rR01T").text
    rating = list.find("div",class_="_3LWZlK").text
    price = list.find("div",class_="_30jeq3 _1_WHN1").text


    info = [title,rating,price]
    thewriter.writerow(info)

In [ ]:
import pandas as pd

df = pd.read_csv("/content/mobilePrice.csv")
df

                                     Title  Ratings    Price
0       APPLE iPhone 14 (Midnight, 128 GB)      4.6  ₹73,990
1      APPLE iPhone 14 (Starlight, 128 GB)      4.6  ₹73,990
2            APPLE iPhone 11 (Red, 128 GB)      4.6  ₹44,999
3           APPLE iPhone 13 (Blue, 128 GB)      4.7  ₹60,999
4         APPLE iPhone 14 (Purple, 128 GB)      4.6  ₹73,990
5           APPLE iPhone 14 (Blue, 128 GB)      4.6  ₹73,990
6           APPLE iPhone 13 (Pink, 128 GB)      4.7  ₹60,999
7       APPLE iPhone 13 (Midnight, 128 GB)      4.7  ₹60,999
8      APPLE iPhone 13 (Starlight, 128 GB)      4.7  ₹60,999
9          APPLE iPhone 11 (Black, 128 GB)      4.6  ₹44,999
10     APPLE iPhone 12 mini (Black, 64 GB)      4.5  ₹37,999
11          APPLE iPhone 11 (White, 64 GB)      4.6  ₹39,999
12     APPLE iPhone 14 (Starlight, 256 GB)      4.6  ₹83,990
13  APPLE iPhone 13 ((PRODUCT)RED, 128 GB)      4.7  ₹60,999
14      APPLE iPhone 14 (Midnight, 256 GB)      4.6  ₹83,990
15          APPLE iPhone 11 (Black, 64 GB)      4.6  ₹39,999
16          APPLE iPhone 14 (Blue, 256 GB)      4.6  ₹83,990
17        APPLE iPhone 14 (Purple, 256 GB)      4.6  ₹83,990
18            APPLE iPhone 11 (Red, 64 GB)      4.6  ₹39,999
19         APPLE iPhone 11 (White, 128 GB)      4.6  ₹44,999
20     APPLE iPhone 12 mini (White, 64 GB)      4.5  ₹38,999
21         APPLE iPhone 11 (Purple, 64 GB)      4.6  ₹39,999
22        APPLE iPhone 12 (Purple, 128 GB)      4.6  ₹57,999
23         APPLE iPhone 12 (White, 128 GB)      4.6  ₹57,999

## Second Method

In [ ]:
from urllib.request import urlopen
from urllib.error import HTTPError
from urllib.error import URLError

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# Checking the URL if its valid or not
try:
  html = urlopen("https://www.flipkart.com/search?q=apple+phone&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=apple+phone%7CMobiles&requestId=70ac26bd-3ad9-4cf6-933c-132909a1bec9&as-searchtext=apple")
except HTTPError as e:
  print("HTTP error")
except URLError as e:
  print("Server not found")
else:
  print("Sucess")

Sucess

In [ ]:
iphone = []
for i in range(1,19):
  url = f"https://www.flipkart.com/search?q=apple+phone&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_5_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=apple+phone%7CMobiles&requestId=70ac26bd-3ad9-4cf6-933c-132909a1bec9&as-searchtext=apple%pages={i}"
  response = requests.get(url)
  response = response.content
  soup = BeautifulSoup(response,"html.parser")
  lists = soup.find_all("div",class_="_3pLy-c row")

  for lst in lists:
    title = lst.find("div",class_="_4rR01T").text
    rating = lst.find("div",class_="_3LWZlK").text
    price = lst.find("div",class_="_30jeq3 _1_WHN1").text
    iphone.append([title,rating,price])

In [ ]:
df = pd.DataFrame(iphone,columns=["Title","Ratings","Price"])
df.to_csv("iphoneList.csv")

In [ ]:
data = pd.read_csv("/content/iphoneList.csv")
len(data)

432

In [ ]:
data

     Unnamed: 0                                     Title  Ratings    Price
0             0          APPLE iPhone 14 (Purple, 128 GB)      4.6  ₹73,990
1             1        APPLE iPhone 14 (Midnight, 128 GB)      4.6  ₹73,990
2             2            APPLE iPhone 14 (Blue, 128 GB)      4.6  ₹73,990
3             3       APPLE iPhone 14 (Starlight, 128 GB)      4.6  ₹73,990
4             4  APPLE iPhone 14 Plus (Starlight, 128 GB)      4.6  ₹82,999
..          ...                                       ...      ...      ...
427         427    APPLE iPhone 14 ((PRODUCT)RED, 128 GB)      4.6  ₹73,990
428         428        APPLE iPhone 14 (Midnight, 256 GB)      4.6  ₹83,990
429         429  APPLE iPhone 14 Plus (Starlight, 256 GB)      4.6  ₹92,999
430         430       APPLE iPhone 14 Plus (Blue, 256 GB)      4.6  ₹92,999
431         431              APPLE iPhone 11 (Red, 64 GB)      4.6  ₹43,900

[432 rows x 4 columns]