In [ ]:
import pandas as pd

In [ ]:
# Download the every tables in the page
dfs = pd.read_html("https://en.wikipedia.org/wiki/List_of_weather_records")

In [ ]:
#Find the total number of tables
len(dfs)

19

##1st table

In [ ]:
# View the 1st table
table1 = dfs[1]
table1

,Country/Region,Temperature,Town/Location,Date
0,Antarctica (all land/ice south of 60°S),19.8 °C (67.6 °F),"Signy Research Station, Signy Island",30 January 1982[35]
1,Antarctica (mainland and adjoining islands),18.3 °C (64.9 °F),"Esperanza Base, Trinity Peninsula",6 February 2020[36][37][38][note 3]
2,"Antarctica (Antarctic Plateau > 2,500 metres (...",−7.0 °C (19.4 °F),Automated Weather Station D-80 (coordinates: 7...,28 December 1989[39]
3,South Pole,−12.3 °C (9.9 °F),Amundsen–Scott South Pole Station,25 December 2011[40]

In [ ]:
a = table1.copy()

In [ ]:
a

,Country/Region,Temperature,Town/Location,Date,Country
0,Antarctica (all land/ice south of 60°S),19.8 °C (67.6 °F),"Signy Research Station, Signy Island",30 January 1982[35],"[Antarctica , all land/ice south of 60°S)]"
1,Antarctica (mainland and adjoining islands),18.3 °C (64.9 °F),"Esperanza Base, Trinity Peninsula",6 February 2020[36][37][38][note 3],"[Antarctica , mainland and adjoining islands)]"
2,"Antarctica (Antarctic Plateau > 2,500 metres (...",−7.0 °C (19.4 °F),Automated Weather Station D-80 (coordinates: 7...,28 December 1989[39],"[Antarctica , Antarctic Plateau > 2,500 metres..."
3,South Pole,−12.3 °C (9.9 °F),Amundsen–Scott South Pole Station,25 December 2011[40],[South Pole]

In [ ]:
# Transfering the row data to readable data
table1[["Temperature(C)","Temperature(F)"]] = table1.Temperature.str.split("(",expand=True)
table1[["Town","a"]] = table1["Town/Location"].str.split(",",n=1,expand=True)
table1[["Country","b"]] = table1["Country/Region"].str.split("(",n=1,expand=True)
table1[["date","c"]] = table1["Date"].str.split("[",n=1,expand=True)

In [ ]:
# Drop the unnecessery columns
table1.drop(["Temperature","Town/Location","Country/Region","a","b","c","Date"],axis=1,inplace=True)

In [ ]:
table1

,Temperature(C),Temperature(F),Town,Country,date
0,19.8 °C,67.6 °F),Signy Research Station,Antarctica,30 January 1982
1,18.3 °C,64.9 °F),Esperanza Base,Antarctica,6 February 2020
2,−7.0 °C,19.4 °F),Automated Weather Station D-80 (coordinates: 7...,Antarctica,28 December 1989
3,−12.3 °C,9.9 °F),Amundsen–Scott South Pole Station,South Pole,25 December 2011

In [ ]:
#
table1["Temperature(C)"] = [x[:-2] for x in table1["Temperature(C)"]]
table1["Temperature(F)"] = [x[:-2] for x in table1["Temperature(F)"]]

In [ ]:
# Check the datatypes
table1.dtypes

Temperature(C)    object
Temperature(F)    object
Town              object
Country           object
date              object
dtype: object

In [ ]:
# date convert to datetime object
table1["date"] = pd.to_datetime(table1["date"])

In [ ]:
table1

,Temperature(C),Temperature(F),Town,Country,date
0,19.8 °,67.6 °,Signy Research Station,Antarctica,1982-01-30
1,18.3 °,64.9 °,Esperanza Base,Antarctica,2020-02-06
2,−7.0 °,19.4 °,Automated Weather Station D-80 (coordinates: 7...,Antarctica,1989-12-28
3,−12.3 °,9.9 °,Amundsen–Scott South Pole Station,South Pole,2011-12-25

In [ ]:
# Reindex the column
table1 = table1.reindex(["date","Town","Country","Temperature(C)","Temperature(F)"],axis=1)

In [ ]:
a

,date,Town,Country,Temperature(C),Temperature(F)
0,1982-01-30,Signy Research Station,Antarctica,19.8 °,67.6 °
1,2020-02-06,Esperanza Base,Antarctica,18.3 °,64.9 °
2,1989-12-28,Automated Weather Station D-80 (coordinates: 7...,Antarctica,−7.0 °,19.4 °
3,2011-12-25,Amundsen–Scott South Pole Station,South Pole,−12.3 °,9.9 °